<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Error</title>
  </head>
<body>
  <h1>Error</h1>
  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>Error displayed in popup.</p>
    <a href="newPost">Return to posts</a>
  <% } %>
  <script>
    window.onload = function() {
      <% if (typeof error !== 'undefined' && error.length > 0) { %>
        alert('Error: <%= error[0].msg %>');
      <% } else { %>
        alert('Error displayed in popup.');
      <% } %>
    };
  </script>
</body>
</html>

