<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How did you get past our security???</title>
  </head>
  <body>
    <h1>How did you hack us</h1>
    <p>Security maintained by McAfee</p>
  </body>
</html>