<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Extremely secure log in page</title>
  </head>
  <body>
    <h1>This is all very secure</h1>
    <p>Please do not hack us</p>
    <a href="/home"> CLick here</a>
  </body>
</html>