<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>How did you get past our security???</title>
  </head>
  <body>
    <div class = "header">
      <h1>Super secure blog about cybersecurity</h1>
    </div>
    <h1>How did you hack us</h1>
    <p>Security maintained by McAfee</p>
  </body>
</html>