<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register - Two Factor Authentication</title>
</head>
<body>
    <h1>Register - Two Factor Authentication</h1>
    <form 
        action="/register-2fa" 
        method="POST"
    >
        <p>Download the Google Authenticator app to your phone, you can use the below links:</p>
        <ul>
            <li><b>Android: </b>https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_GB&gl=US&pli=1</li>
            <li><b>Apple: </b>https://apps.apple.com/us/app/google-authenticator/id388497605?platform=iphone</li>
        </ul>
        <p>Then scan the QR Code in the Google Authenticator app. Now enter the code that you see in the app in the text field and click Submit.</p>
        <img src="<%= qr %>" />
        <div >
        <label for="code" >2FA Code</label>
        <input 
            type="text"  
            id="code" 
            name="code">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>